@font-face {
  font-family: KumbhSans;
  src: url(fonts/KumbhSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: KumbhSans;
  src: url(fonts/KumbhSans-Bold.ttf);
  font-weight: 700;
}

:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --dark-blue: hsl(220, 13%, 13%);
  --dark-greyish-blue: hsl(219, 9%, 45%);
  --greyish-blue: hsl(220, 14%, 75%);
  --light-greyish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

body {
  font-family: "KumbhSans", sans-serif;
  font-size: 1rem;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px 16px;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__inner_left {
  flex-direction: row-reverse;
}

.avatar {
  max-height: 35px;
}

.nav {
  display: none;
}

.nav-toggle {
  background-color: transparent;
  border: none;
}

.product__content {
  padding: 8px 16px;
}

.product__byline {
  color: var(--orange);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  margin: 0;
}
